<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">

        <app-sidebar></app-sidebar>


        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" *ngIf="!loading">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Admin Products</h1>
            </div>

            <div class="d-flex justify-content-between align-items-center mb-3">
                <h3>Inventory</h3>
                <button class="btn btn-outline-success" routerLink="/products/new">New product</button>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product name</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Genre</th>
                            <th scope="col">Price</th>
                            <th scope="col">Sold</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products">
                            <td>
                                <div class="d-flex align-items-center">
                                    <img [src]="product.mainImage" class="me-2" width="100">
                                    <p><small>{{ product.name }}</small></p>
                                </div>
                            </td>

                            <td>
                                <p>{{ product.quantity }}</p>
                            </td>
                            <td>
                                <p>{{ product.genre }}</p>
                            </td>
                            <td>
                                <p>{{ product.price | currency }}</p>
                            </td>
                            <td>
                                <p>{{ product.sold }}</p>
                            </td>
                            <td>
                                <a (click)="openDeleteConfirmation(product._id)" class="btn btn-outline-danger"
                                    data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>