<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">

        <app-sidebar></app-sidebar>


        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" *ngIf="!loading">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
            </div>

            <ul class="box-info">
                <li>
                    <i class='bx bxs-calendar-check'></i>
                    <span class="text">
                        <h3>{{ orders.length }}</h3>
                        <p>Orders</p>
                    </span>
                </li>
                <li>
                    <i class='bx bxs-dollar-circle'></i>
                    <span class="text">
                        <h3>{{ totalSales | currency }}</h3>
                        <p>Total Sales</p>
                    </span>
                </li>
            </ul>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">StripeId</th>
                            <th scope="col">Total</th>
                            <th scope="col">Status</th>
                            <th scope="col">Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of orders">
                            <td>{{ order.paymentStripeId }}</td>
                            <td>{{ order.totalPrice | currency }}</td>
                            <td [ngClass]="{ 'text-danger': order.status === 'Not Processed',
                            'text-primary': order.status === 'Processing',
                            'text-info': order.status === 'Shipped',
                            'text-success': order.status === 'Delivered',
                            'text-muted': order.status === 'Cancelled' }">{{ order.status }}</td>
                            <td>{{ order.createdAt | date }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>