<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">

        <app-sidebar></app-sidebar>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" *ngIf="!loading">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-4 border-bottom">
                <h2>Registered users</h2>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Full name</th>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Role</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td>
                                <p>{{ user.name }}</p>
                            </td>
                            <td>
                                <p>{{ user.username }}</p>
                            </td>
                            <td>
                                <p>{{ user.email }}</p>
                            </td>
                            <td>
                                <p>{{ user.phone==''?'none':user.phone}}</p>
                            </td>
                            <td>
                                <p>{{ user.role }}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Páginacion -->
            <nav *ngIf="this.users && this.users.length > 0" class="mt-4" aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item" *ngFor="let page of generatePageArray(this.metadata.totalPages)"
                        [ngClass]="{'active': page === this.metadata.currentPage}">
                        <a class="page-link rounded-0"
                            [attr.href]="page === this.metadata.currentPage ? null : generatePageLink(page)">{{ page
                            }}</a>
                    </li>
                </ul>
            </nav>

        </main>
    </div>
</div>