<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">

        <app-sidebar></app-sidebar>


        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" *ngIf="!loading">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Admin Users</h1>
            </div>

            <ul class="box-info">
                <li>
                    <i class='bx bxs-group'></i>
                    <span class="text">
                        <h3>{{ users.length }}</h3>
                        <p>Total users</p>
                    </span>
                </li>
            </ul>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Fullname</th>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Role</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td>
                                <p>{{ user.name }}</p>
                            </td>
                            <td>
                                <p>{{ user.username }}</p>
                            </td>
                            <td>
                                <p>{{ user.email }}</p>
                            </td>
                            <td>
                                <p>{{ user.phone==''?'empty':user.phone}}</p>
                            </td>
                            <td>
                                <p>{{ user.role }}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>