<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">

        <app-sidebar></app-sidebar>


        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3 mb-5">

            <form [formGroup]="form" (ngSubmit)="addProduct()">
                <h2 class="mb-4">Create product</h2>

                <div class="mb-3">
                    <label for="name" class="form-label">Product name</label>
                    <input formControlName="name" type="text" class="form-control" placeholder="Enter name"
                        [ngClass]="{ 'is-invalid': form.get('name')!.invalid && this.submited }">
                    <div *ngIf="form.get('name')!.hasError('required')" class="invalid-feedback">
                        Este campo es obligatorio
                    </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea formControlName="description" class="form-control custom-textarea-input"
                        placeholder="Enter description"
                        [ngClass]="{ 'is-invalid': form.get('description')!.invalid && this.submited }"></textarea>
                    <div *ngIf="form.get('description')!.hasError('required')" class="invalid-feedback">
                        Este campo es obligatorio
                    </div>
                </div>

                <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <select formControlName="category" class="form-select form-control"
                        aria-label="Default select example"
                        [ngClass]="{ 'is-invalid': form.get('category')!.invalid && this.submited }">
                        <option *ngFor="let category of categories" [value]="category._id">{{ category.name }}</option>
                    </select>
                    <div *ngIf="form.get('category')!.hasError('required')" class="invalid-feedback">
                        Este campo es obligatorio
                    </div>
                </div>

                <div class="mb-3">
                    <label for="genre" class="form-label">Genre</label>

                    <select formControlName="genre" class="form-select form-control" aria-label="Default select example"
                        [ngClass]="{ 'is-invalid': form.get('genre')!.invalid && this.submited }">
                        <option value="men">Men</option>
                        <option value="women">Women</option>
                    </select>
                    <div *ngIf="form.get('genre')!.hasError('required')" class="invalid-feedback">
                        Este campo es obligatorio
                    </div>
                </div>

                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input formControlName="price" type="number" class="form-control" placeholder="Enter price"
                        [ngClass]="{ 'is-invalid': form.get('price')!.invalid && this.submited }">
                    <div *ngIf="form.get('price')!.hasError('required')" class="invalid-feedback">
                        Este campo es obligatorio
                    </div>
                </div>

                <div class="mb-3">
                    <label for="price" class="form-label">Price discount</label>
                    <input formControlName="priceDiscount" type="number" class="form-control"
                        placeholder="Enter price discount"
                        [ngClass]="{ 'is-invalid': form.get('priceDiscount')!.invalid && this.submited }">
                    <div *ngIf="form.get('priceDiscount')!.hasError('required')" class="invalid-feedback">
                        Este campo es obligatorio
                    </div>
                </div>

                <div class="mb-3">
                    <label for="colors" class="form-label">Colors available</label>
                    <input formControlName="colors" type="text" class="form-control"
                        placeholder="example: black, white, yellow"
                        [ngClass]="{ 'is-invalid': form.get('colors')!.invalid && this.submited }">
                    <div *ngIf="form.get('colors')!.hasError('required')" class="invalid-feedback">
                        Este campo es obligatorio
                    </div>
                </div>

                <div class="mb-3">
                    <label for="sizes" class="form-label">Sizes available</label>
                    <input formControlName="sizes" type="text" class="form-control" placeholder="example: S, M, L, XL"
                        [ngClass]="{ 'is-invalid': form.get('sizes')!.invalid && this.submited }">
                    <div *ngIf="form.get('sizes')!.hasError('required')" class="invalid-feedback">
                        Este campo es obligatorio
                    </div>
                </div>

                <div class="mb-3">
                    <label for="quantity" class="form-label">Quantity</label>
                    <input formControlName="quantity" type="number" class="form-control" placeholder="Enter quantity"
                        [ngClass]="{ 'is-invalid': form.get('quantity')!.invalid && this.submited }">
                    <div *ngIf="form.get('quantity')!.hasError('required')" class="invalid-feedback">
                        Este campo es obligatorio
                    </div>
                </div>

                <div class="mb-3">
                    <label for="mainImage" class="form-label">Upload main image</label>
                    <input formControlName="mainImage" type="file" (change)="onMainImageSelected($event)"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': form.get('mainImage')!.invalid && this.submited }">
                    <div *ngIf="form.get('mainImage')!.hasError('required')" class="invalid-feedback">
                        Este campo es obligatorio
                    </div>
                </div>

                <div class="mb-3">
                    <label for="images" class="form-label">Upload images</label>
                    <input formControlName="images" type="file" multiple (change)="onImagesSelected($event)"
                        class="form-control" [ngClass]="{ 'is-invalid': form.get('images')!.invalid && this.submited }">
                    <div *ngIf="form.get('images')!.hasError('required')" class="invalid-feedback">
                        Este campo es obligatorio
                    </div>
                </div>

                <div class="row mt-2 text-center">

                    <div class="col-lg-6 mt-2">
                        <button type="button" class="btn btn-outline-danger" routerLink="/products">Cancel</button>
                    </div>

                    <div class="col-lg-6 mt-2">
                        <button type="submit" class="btn btn-outline-success">Create</button>
                    </div>

                </div>
            </form>


        </main>
    </div>
</div>